@CHARSET "UTF-8";
	
	body{
	background:#dadada ;
	background-repeat:no-repeat;
	font-family:BYekan, Tahoma, Geneva, sans-serif;
	font-size:14px;
	margin-top: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	

		}

@font-face {
    font-family:'BYekan';/*تعریف یک نام برای فونت*/
    src:url('../font/BYekan.eot');/*اکسپلورر 9 به بعد*/
    src:
		local('bYekan'),/*بررسی نصب بودن فونت در سیستم کاربر*/
	   local('b Yekan'),/*برای برخی از مرورگرها مانند سافاری*/
	   url('../font/BYekan.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر 8 و ماقبل*/
	   url('../font/BYekan.woff') format('woff'),/*مرورگر های جدید*/
	   url('../font/BYekan.ttf') format('truetype'),/*تمام مرورگرها به جزء اکسپلورر*/
	   url('../font/BYekan.svg#BYekan') format('svg');/*نسخه های قدیمی سیستم عامل iOS*/
    font-style:normal;
    font-weight:normal;
}
	
a {
		font-family:BYekan, Tahoma, Geneva, sans-serif;
		font-size: 14px;
		color: #333;
	}
	
a:link {
		text-decoration: none;
	}
	
a:visited {
		text-decoration: none;
		color: #333;
	}
	
a:hover {
		text-decoration: none;
		color: #666;
	}
	
a:active {
		text-decoration: none;
		color: #333;
	}
#a{
	width:500px;
	display: none;
	position: absolute;
	z-index: 1005;
	
}
#b{
	width:500px;
	display: none;
	position: absolute;
	z-index: 1005;
	
}
.main{
	width: 1010px;
	height: auto;
	position:absolute;
	margin-top:-10px;
	background: #fff url(../images/background_res.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	box-shadow:0px 0px 4px 1px #999;
	border-radius: 8px;
	padding: 10px;
	
}
.doctor_main{
	width: 1010px;
	height: auto;
	position:absolute;
	margin-top:-10px;
	background: #fff url(../images/background_d_res.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	box-shadow:0px 0px 4px 1px #999;
	border-radius: 8px;
	padding: 10px;
	
}
.image{
	border-radius: 3px;
	border: 4px solid #ccc;
	padding: 2px;
}
.nav{
	background-color: #e7e7e7;
	border-radius: 8px;
	cursor: pointer;
}

.main_404{
	width: 800px;
	height: 450px;
	background: #fff url(../images/background_404.jpg);
	background-position: bottom left;
	background-repeat: no-repeat;
	box-shadow:0px 0px 4px 1px #999;
	border-radius: 10px;
	padding: 10px;
	
}
.right_panel{
	width: 250px;
	height: 500px;
	margin-top:-30px;
	margin-right:15px;
	display:inline-block;
	background: #ccc ;
	background: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
	background: -o-linear-gradient (top,#f9f9f9, #eaeaea);/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top,#f9f9f9, #eaeaea); /* For Firefox 3.6 to 15 */
	background: linear-gradient(top,#f9f9f9, #eaeaea); /* Standard syntax */
	box-shadow:0px 0px 4px 1px #999;
	padding: 10px;
	float:right;
	z-index: 1001;
	
}
.main_panel{
	width: 697px;
	height: auto;
	margin-right:15px;
	display:inline-block;
	padding: 4px;
	float:right;
	z-index: 1001;
	
}


.error {
	font-family:BYekan, Tahoma, Geneva, sans-serif;
	color: #F00;
	font-size: 12px;
}
.box-message{
	display:inline-block;
	float:right;
	width:200px;
	border-radius:5px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	border:1px solid #dedede;
	background-color:#c9c9c9; 
	font-size:16px;
	color:green;
	margin-left: 50%;
	padding: 3px;
	
}
.news{
	width: 650px;
	border-bottom:1px solid #ccc;
	padding: 3px;
	text-align: right;
	float: right;
	color: #888;
	border-radius:3px;
	font-size: 16px;
	cursor: pointer;
}
.news:hover{
	color: #555;
}
.menu{
	height:25px;
	line-height:27px;
	background: #dadada;
	padding: 5px;
	margin-bottom:2px;
	border-radius:5px;
	cursor: pointer;
	color: #888;
	font-size:18px;
	border-right: 5px solid #ccc;
	border-left: 5px solid #ccc;
}
.menu:HOVER{
	background: #dedede;
	color: #f00;
	border-right: 5px solid #f00;
	border-left: 5px solid #f00;
}
.input{
		padding:2px;
		direction:rtl;
		padding-bottom: 2px;
		padding-right: 10px;
		height:28px;
		color:#535353;
		border-radius: 5px;
		background-color: #f5f5f5;
		border:solid 1px #ccc;
		display: inline-block;
		font-family:BYekan, Tahoma, Geneva, sans-serif;
	}
.input:focus{
		background-color: #ededed;
		border:solid 1px #ccc;
		outline: 0;
	}

.custom-file-input::-webkit-file-upload-button {
 	 visibility: hidden;
}
.custom-file-input::before {
  	  content: 'انتخاب فایل';
	  display: inline-block;
	  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
	  font-family:BYekan, Tahoma, Geneva, sans-serif;
	  border: 1px solid #ccc;
	  border-radius: 3px;
	  padding: 5px 8px;
	  outline: none;
	  white-space: nowrap;
	  -webkit-user-select: none;
	  cursor: pointer;
	  text-shadow: 1px 1px #fff;
	  font-weight: 700;
	  font-size: 10pt;
}
.custom-file-input:hover::before {
	  border-color: #999;
	  cursor: pointer;
}
.custom-file-input:active::before {
  		background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.button{
		width: 150px;
		height:37px;
		padding:2px;
		color:#fff;
		border-radius: 3px;
		background-color: #c9c9c9;
		font-size: 16px;
		line-height: 37px;
		float: left;
	 	cursor: pointer;
}

.button:hover{
	opacity:0.8;
}

.btn{
		width: 60px;
		height:37px;
		padding:2px;
		color:#fff;
		border-radius: 5px;
		border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		margin-left:-8px;
		font-family:BYekan, Tahoma, Geneva, sans-serif;
		background: -webkit-linear-gradient(#ffd201, #ffa701); /* For Safari */
		background: -o-linear-gradient (#ffd201, #ffa701);/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd201, #ffa701); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#ffd201, #ffa701); /* Standard syntax */
		border:solid 1px #ccc;
		border-left:0px;
		display: inline-block;
	}
.btn:hover{
		color:#fff;
		background: -webkit-linear-gradient(#ffd801, #ffb401); /* For Safari */
		background: -o-linear-gradient (#ffd801, #ffb401);/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd801, #ffb401); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#ffd801, #ffb401); /* Standard syntax */
		cursor: pointer;
	}
	
.btn2{
		width: 80px;
		height:37px;
		padding:2px;
		color:#fff;
		border-radius: 5px;
		font-family:BYekan, Tahoma, Geneva, sans-serif;
		background: -webkit-linear-gradient(#ffd201, #ffa701); /* For Safari */
		background: -o-linear-gradient (#ffd201, #ffa701);/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd201, #ffa701); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#ffd201, #ffa701); /* Standard syntax */
		border:solid 1px #ccc;
		border-left:0px;
		display: inline-block;
		outline: none;
	}
.btn2:hover{
		color:#fff;
		background: -webkit-linear-gradient(#ffd801, #ffb401); /* For Safari */
		background: -o-linear-gradient (#ffd801, #ffb401);/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd801, #ffb401); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#ffd801, #ffb401); /* Standard syntax */
		cursor: pointer;
	}
.btn3{
		width: 80px;
		height:37px;
		padding:2px;
		color:#fff;
		border-radius: 5px;
		font-family:BYekan, Tahoma, Geneva, sans-serif;
		background: -webkit-linear-gradient(#efefef, #8888); /* For Safari */
		background: -o-linear-gradient (#ffd201, #ffa701);/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#ffd201, #ffa701); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#efefef, #8888); /* Standard syntax */
		border:solid 1px #ccc;
		border-left:0px;
		display: inline-block;
		outline: none;
	}


	
.title{
		font-size: 18px;
		color: #666;
		cursor: default;
	}
	
.text{
		font-size: 15px;
		color: #333;
		font-family:BYekan, Tahoma, Geneva, sans-serif;
		cursor: default;
	}
	
